@{

}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div>
                <h3>Machine ID</h3>
                <div>@ViewData["Test"]</div>
            </div>
        </div>
    </div>
</div>